.site-footer{
  background: #F3F3F3;
  border: 1px solid #EBEBEB;
  padding-bottom: 23px;
}

.footer{
  display: flex;
  padding-top: 60px;
}

.footer__logo{
  width: 158px;
  height: 76px;
  margin-right: 67px;
  transition: opacity 0.4s ease;
  &:hover{
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
}

.navbar{
  margin: 0;
  padding: 0;
  list-style: none;
}


.footer__navbar{
  width: 86px;
  margin-right: 87px;
}

.footer__nav{
  width: 115px;
  margin-right: 157px;
}


.navbar__link{
  display: inline-block;
  margin-bottom: 14px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $main-color;
  transition: all 0.3s ease;
  &:hover{
    color: #FFBD54;
  }
  &:active{
    color: $main-color;
    opacity: 0.7;
  }
}


.footer__date-wrapper{
  position: relative;
  z-index: 1;
  margin-right: 137px;
  &::before{
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url(../images/date.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: -24px;
    top: 2px;
    width: 16px;
    height: 16px;
  }
}

.footer__date{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $main-color;
  transition: color 0.3s ease;
}


.footer__adress{
  position: relative;
  margin-right: 112px;
  z-index: 1;
  &::before{
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url(../images/house.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: -22px;
    top: 2px;
    width: 13px;
    height: 13px;
  }
}

.footer__adresslink{
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $main-color;
}


.footer__phone-wrapper{
  position: relative;
  z-index: 1;
  &::before{
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: -22px;
    top: 2px;
    width: 13px;
    height: 13px;
  }
}



.footer__phone{
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $main-color;
  transition: color 0.3s ease;
  &:hover{
    color: #FFBD54;
  }
  &:active{
    color: $main-color;
    opacity: 0.6;
  }
}


.site-footer__text{
  text-align: end;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #5C5C5C;
}