.hero{
  background-image: url(../images/pets.png), url(../images/parrot.png);
  background-position: calc(50% - 520px) calc(50% - 120px), calc(50% + 700px) calc(50% + 240px);
  background-repeat: no-repeat;
  padding: 140px 0 311px;
}

.info{
  display: block;
  margin-left: auto;
  width: 608px;
}

.info__title{
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: $main-color;
}

.info__blue{
  color: #78C0DE;
}

.info__text-wrapper{
  width: 495px;
}

.info__text{
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  margin: 30px 0 38px;
}

.btn{
  padding: 15px 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: $main-color;
  border-radius: 3px;
  transition: all 0.4s ease;
  &:hover{
    color: #333333;
    background-color: #FFBD54;
  }
  &:active{
    opacity: 0.6;
  }
}